
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.input-container {
  margin: 1rem;
  margin-left: 0;
}

.demo-output {
  display: grid;
  grid-template-columns: 50px auto;
  background: #333;
  color: #f2f2f2;
  margin: 1rem;
  padding: 1rem;
  gap: 10px;
}

.demo-output textarea {
  min-height: 100px;
}

.demo-input {
  border: 3px solid green;
}

.peopleTag {
  color: blue;
  background-color: transparent;
  padding: 0;
}

.thingTag {
  background-color: green;
  color: white;
}

.peopleHighlight {
  color: blue;
}

.thingHighlight {
  color: green;
}

.customTagClass1 {
  background-color: blue;
}

.customTagClass2 {
  background-color: purple;
}

.customTagClass3 {
  background-color: orange;
  color: #333;
}

.customTagClass4 {
  background-color: brown;
}