.App {
  max-width: 800px;
  margin: auto;
}

.peopleTag {
  background-color: blue;
  color: white;
}

.thingTag {
  background-color: green;
  color: white;
}

.peopleHighlight {
  color: blue;
}

.thingHighlight {
  color: green;
}