react-taggable-field-container {
  position: relative;
}

.react-taggable-highlight {
  color: blue;
}

.react-taggable-field-input {
  width: 100%;
	min-height: 1rem;
  padding: 0.4rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: left;
  display: block;
  align-items: center;
  white-space: nowrap;
}

.react-taggable-field-suggested-tags {
  position: absolute;
  min-width: 300px;
  width: fit-content;
  display: grid;
  text-align: left;
}

.react-taggable-field-suggested-tag {
  padding: 8px;
	cursor: pointer;
}

.react-taggable-field-suggested-tag:hover {
	background: #f2f2f2;
}

.react-taggable-field-input-tag {
  background: #333;
  color: white;
  padding: 0 5px;
  border-radius: 5px;
  display: inline-block;
}
